html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  color: rgb(211, 211, 211);
}

body::-webkit-scrollbar {
  width: 12px;                 /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #18181b;       /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #a970ff; /* color of the scroll thumb */
  border-radius: 20px;         /* roundness of the scroll thumb */
  border: 3px solid #18181b; /* creates padding around scroll thumb */
}

.streamer-bar::-webkit-scrollbar {
  width: 12px;
}

.streamer-bar::-webkit-scrollbar-track {
  background: #18181b; 
}

.streamer-bar::-webkit-scrollbar-thumb {
  background-color: #a970ff;   
  border-radius: 20px;       
  border: 3px solid #18181b;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
}

.bar {
  background-color: #18181b;
  height: 50px;
  box-shadow: 0px 1px 1px black;
  z-index: 4;
  display: flex;
  position: fixed;
  width: 100%;
}

.bar .nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo {
  height: 30px;
  width: auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: 100%;
}
.bar .nav .item {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.bar .nav .item:hover {
  color: #a970ff;
  cursor: pointer;
}

#selected {
  color: #a970ff;
  border-bottom: 2px solid #a970ff;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.main .stream-content p:hover {
  cursor: pointer;
  color: #a970ff;
}
.streamer-bar {
  overflow-x: hidden;
  overflow-y: scroll;
}



.streamer-bar .streamer-bar-title p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 10px;
}
.streamer-bar .followed-channels {
  width: 100%;
  display: grid;
}

.streamer-bar .followed-channels .followed-channel {
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 0 10px;
}

.streamer-bar .followed-channels .followed-channel:hover {
  background-color: #2e2e35;
  cursor: pointer;
}
.streamer-bar .followed-channels .followed-channel .profile-image {
  width: 30px;
  height: 30px;
  flex-shrink: 0 !important;
}

.streamer-bar .followed-channels .followed-channel .profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.streamer-bar .followed-channels .followed-channel .profile-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  padding-left: 10px;
  width: 50%;
}

.streamer-bar
  .followed-channels
  .followed-channel
  .profile-info
  .profile-game-title,
.streamer-bar
  .followed-channels
  .followed-channel
  .profile-info
  .profile-username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.streamer-bar .followed-channels .followed-channel .profile-viewers {
  display: flex;
  width: 40px;
  height: auto;
  align-items: flex-start;
  justify-content: left;
  margin-right: 15px;
}

.streamer-bar .followed-channels .followed-channel .live-icon {
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 100%;
}

.streamer-bar
  .followed-channels
  .followed-channel
  .profile-viewers
  .viewer-count {
  font-size: 13px;
  margin-left: 5px;
  padding-top: 0;
}

.streamer-bar
  .followed-channels
  .followed-channel
  .profile-info
  .profile-username {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}

.streamer-bar
  .followed-channels
  .followed-channel
  .profile-info
  .profile-game-title {
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  color: rgb(163, 163, 163);
}

.streamer-bar-title .mobile-title {
  display: none;
}

.stream-content {
  padding: 20px;
  background-color: #0e0e10;
  overflow: hidden;
  width: 83%;
  position: absolute;
  right: 0;
}

.games-carousel {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
}

.games-carousel .game .game-cover {
  transition: transform 0.1s ease;
}

.games-carousel .game .game-cover:hover {
  transform: translate(5px, -5px);
  cursor: pointer;
}
.games-carousel .game .game-cover img {
  height: 100%;
  width: 100%;
}

.games-carousel .game .game-cover:hover img {
  box-shadow: -5px 5px #a970ff;
}

.games-carousel .game .game-info .game-title,
.stream-carousel .stream .stream-text .stream-title,
.video-carousel .video .video-text .video-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.game-info .game-viewership,
.stream-text .stream-host,
.stream-text .stream-game,
.video-text .video-host,
.video-text .video-game {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(163, 163, 163);
}

.title-highlight {
  color: #a970ff;
}

.game-categories span {
  background-image: linear-gradient(45deg, #6441a4, #a970ff);
  padding: 2px 0.8rem;
  color: white;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
}

.stream-carousel,
.video-carousel {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.stream-carousel .stream .stream-thumbnail,
.video-carousel .video .video-thumbnail {
  transition: transform 0.1s ease;
}

.stream-carousel .stream .stream-thumbnail:hover,
.video-carousel .video .video-thumbnail:hover {
  transform: translate(5px, -5px);
  cursor: pointer;
}

.stream-carousel .stream .stream-thumbnail:hover img,
.video-carousel .video .video-thumbnail:hover img {
  box-shadow: -5px 5px #a970ff;
}

.stream-carousel .stream .stream-thumbnail img,
.video-carousel .video .video-thumbnail img {
  width: 100%;
  height: 100%;
}

.stream-carousel .stream .stream-thumbnail span,
.video-carousel .video .video-thumbnail span {
  position: relative;
  font-size: 14px;
}

.live {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  left: 5px;
  top: 25px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.viewers {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 30px;
  left: 5px;
  padding: 5px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 100;
  color: white;
}

.stream-carousel .stream-info,
.video-carousel .video-info {
  display: flex;
}

.stream-carousel .stream-info .stream-text,
.video-carousel .video-info .video-text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.stream-carousel .stream-info .stream-profile-avatar,
.video-carousel .video-info .video-profile-avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-right: 10px;
}

.stream-carousel .stream-info .stream-profile-avatar img,
.video-carousel .video-info .video-profile-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
}

.divider .bar {
  height: 1px;
  width: auto;
  padding: 0 10px;
  flex-grow: 1 !important;
  background-color: rgb(39, 39, 39);
}

.divider .show-more {
  padding: 10px;
  margin: 10px;
  color: #a970ff;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.1s ease;
  font-size: 12px;
}

.divider .show-more:hover {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
  border-radius: 5px;
}

@media (min-width: 320px) {
  .streamer-bar {
    display: none;
  }

  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
}

@media (min-width: 768px) {
  .streamer-bar {
    display: none;
  }

  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
}

@media (min-width: 1024px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 90%;
    position: absolute;
    right: 0;
  }

  .streamer-bar {
    display: block;
    background-color: #1f1f23;
    width: 4em;
    overflow: scroll;
    position: fixed;
    height: 100vh;
    z-index: 2;
  }

  .profile-info {
    display: none;
  }

  .streamer-bar small {
    display: block;
    color: #a970ff;
    padding: 10px;
    font-size: 12px;
  }
  
  .streamer-bar small:hover {
    color: #a970ff;
    text-decoration: underline;
    cursor: pointer;
  }

  .streamer-bar .streamer-bar-title .desktop-title {
    display: none;
  }

  .streamer-bar .streamer-bar-title .mobile-title {
    display: block;
    text-align: center;
  }

  
}

@media (min-width: 1097px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 91%;
    position: absolute;
    right: 0;
  }

  .streamer-bar {
    display: block;
    background-color: #1f1f23;
    width: 3.9em;
    overflow: scroll;
    position: fixed;
    height: 100vh;
    z-index: 2;
  }
}

@media (min-width: 1163px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 91%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1280px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 77%;
    position: absolute;
    right: 0;
  }

  .streamer-bar {
    background-color: #1f1f23;
    width: 16em;
    overflow: scroll;
    position: fixed;
    height: 100vh;
    z-index: 2;
  }

  .streamer-bar .streamer-bar-title .desktop-title {
    display: block;
  }

  .streamer-bar .streamer-bar-title .mobile-title {
    display: none;
    text-align: center;
  }
}

@media (min-width: 1422px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 79%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1536px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 80.6%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1600px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 82%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1706px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 83%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1920px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 84.5%;
    position: absolute;
    right: 0;
  }

  .streamer-bar {
    background-color: #1f1f23;
    overflow: scroll;
    position: fixed;
    height: 100vh;
    z-index: 2;
  }

}

@media (min-width: 2133px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 86.1%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 2400px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 87.6%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 2560px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 88.5%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 2880px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 89.7%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 3840px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 92.5%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 5120px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 94.3%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 5760px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 94.9%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 7680px) {
  .stream-content {
    padding: 20px;
    background-color: #0e0e10;
    overflow: hidden;
    width: 96.2%;
    position: absolute;
    right: 0;
  }
}